.light {
  background-color: #f4f4f9;
  color: #333;
}

.dark {
  background-color: #2d2d2d;
  color: #eaeaea;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #0056b3;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

button:hover {
  background-color: #003d80;
}

button:focus {
  outline: none;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #555;
}

input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="date"]:focus {
  outline: none;
  border-color: #0056b3;
}

form {
  max-width: 400px;
  margin: 0 auto 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.task-item.completed {
  text-decoration: line-through;
  background-color: #d3ffd3;
}

.task-item button {
  background-color: #f44336;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-item button:hover {
  background-color: #d32f2f;
}

.search-container {
  max-width: 400px;
  margin: 0 auto 20px;
  display: flex;
  justify-content: space-between;
}

.search-container input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #ddd;
}

.task-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
}

.dragging {
  background-color: #f0f0f0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
